# Iris Project

##  Data Exploration and Analysis

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [5]:
df=pd.read_csv('iris.data', header=None)

NameError: name 'pd' is not defined

In [37]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [6]:

col_names=['sepal length','sepal width','petal length','petal width','class']
df.columns =col_names
df.head()

NameError: name 'df' is not defined